:root {
    --basic-white: #ffffff;
    --basic-white-60: rgba(255, 255, 255, 0.6);
    --basic-black: #000000;
    --basic-black-15: rgba(0, 0, 0, 0.15);
    --style-color: #0078bb;
    --style-color-light: #62B9EA;
    --style-color-dark: #0a6ea6;
    --placeholder-color: #808080;
}

@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/PTSansNarrow-Regular.woff2") format("woff2"),
    url("fonts/PTSansNarrow-Regular.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/PTSans-Regular.woff2") format("woff2"),
    url("fonts/PTSans-Regular.woff") format("woff");
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.page-body {
    display: grid;
    grid-template-rows: min-content 1fr;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
}

.page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 84px auto 48px auto;
    min-width: 335px;
    width: 100%;
    max-width: 1040px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: "PT Sans Narrow", sans-serif;
}

@media (max-width: 375px) {
    .page-header {
        margin: 30px 0 58px 0;
        max-width: none;
        flex-direction: column;
        align-items: center;
    }
}

.page-header__logo-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 286px;
    height: 83px;
    text-decoration: none;
    font-size: 64px;
    color: var(--basic-black);
    margin-right: auto;
}

@media (max-width: 375px) {
    .page-header__logo-link {
        margin: 0 0 22px 0;
    }
}
.page-header__logo-img {
    width: 48px;
    height: 43px;
    align-self: center;
    fill: var(--basic-black)
}

.page-header__logo-link:hover,
.page-header__logo-link:hover .page-header__logo-img {
    color: var(--style-color-light);
    fill: var(--style-color-light);
}

.page-header__logo-link:active,
.page-header__logo-link:active .page-header__logo-img {
    color: var(--style-color-dark);
    fill: var(--style-color-dark);
}


.page-header__nav-list {
    display: flex;
    min-width: 302px;
    height: 32px;
    flex-direction: row;
    box-sizing: border-box;
    list-style: none;
    padding: 1px 0 0 0;
    margin: 0;
    align-self: center;
    font-family: "PT Sans", sans-serif;
    line-height: 20px;
    flex: none;
}

@media (max-width: 375px) {
    .page-header__nav-list {
        margin: 0 0 6px 16px;
    }
}

.page-header__nav-item {
    margin-right: 19px;
}

.page-header__nav-list a {
    color: var(--style-color);
    text-underline-offset: -1px;
    text-decoration-skip-ink: none;
}

@media (max-width: 375px) {
    .page-header__nav-list a {
        text-underline-offset: 0;
    }
}

.page-header__nav-list a:hover {
    text-decoration: none;
    color: var(--style-color-light);
}

.page-header__nav-list a:active {
    color: var(--style-color-dark);
}

.page-header__button {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--style-color);
    width: 100px;
    height: 32px;
    color: var(--basic-white);
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    border-radius: 4px;
    box-sizing: border-box;
    flex: none;
}

.regular-button:hover {
    background-color: var(--style-color-light);
}

.regular-button:active {
    color: var(--basic-white-60);
    background-color: var(--style-color-dark);
    fill: var(--basic-white-60);
}

.page-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1040px;
    min-width: 335px;
    box-sizing: border-box;
}

@media (max-width: 375px){
    .page-main {
        flex-direction: column;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.form__submit {
    padding: 0;
    margin-left: calc(100% - 10px);
    margin-right: calc(100% + 10px);
    width: 160px;
    height: 48px;
    font-size: 20px;
    background-color: var(--style-color);
    font-family: "PT Sans", sans-serif;
    border: none;
    border-radius: 4px;
    color: var(--basic-white);
    fill: var(--basic-white);
    align-self: center;
    cursor: pointer;
}

@media (max-width: 375px) {
    .form__submit {
        width: 100%;
        margin: 0;
    }
}
.cat-message {
    max-width: 660px;
    margin: 0 auto 0 0;
    padding: 0;
}

@media (max-width: 375px) {
    .cat-message {
        margin-bottom: 52px;
    }
}

.cat-message__desc:first-child {
    margin: 0 0 40px 0;
}

.cat-message__desc:nth-child(2) {
    margin: 0 0 33px 0;
}

@media (max-width: 375px) {
    .cat-message__desc:first-child,
    .cat-message__desc:nth-child(2) {
        margin: 0 0 47px 0;
    }
}

.cat-message__desc-header {
    min-width: 335px;
    font-size: 42px;
    font-weight: normal;
    margin: 0 0 10px 0;
    font-family: "PT Sans Narrow", sans-serif;
}

.cat-message__desc-text {
    margin: 0;
    font-family: "PT Sans", sans-serif;
}

@media (max-width: 375px) {
    .cat-message__desc-text {
        line-height: 21px;
        width: 316px;
    }
}

.form__fieldset {
    border: none;
    padding: 0;
    margin: 0;
    font-family: "PT Sans Narrow", sans-serif;
}

.form__fieldset:nth-child(2) {
    margin-bottom: 28px;
}

.form__fieldset:nth-child(3) {
    margin-bottom: 32px;
}

.form__fieldset:nth-child(4) {
    margin-bottom: 85px;
}

@media (max-width: 375px ) {
    .form__fieldset:nth-child(4) {
        margin-bottom: 119px;
    }
}

.form__label {
    font-family: "PT Sans", sans-serif;
}

.form__label--text-name {
    margin-bottom: 18px;
}

@media (max-width: 375px) {
    .form__label--text-name {
        margin-bottom: 52px;
    }
}

.form__legend {
    font-size: 28px;
    margin-bottom: 15px;
    padding: 0;
}

@media (max-width: 375px) {
    .form__legend--contacts {
        margin-bottom: 21px;
    }
}

.form__control--textarea {
    box-sizing: border-box;
    padding: 9px 10px;
    resize: none;
    width: 100%;
    height: 160px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    border: 1px solid var(--basic-black-15);
    border-radius: 4px;
}

.form__label--checkbox {
    display: flex;
    align-items: center;
}

.form__label--text {
    height: 32px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form__label-name {
    margin: 0;
    min-width: 69px;
}

@media (max-width: 375px) {
    .form__label-name {
        margin-bottom: 10px;
    }
}

.form__control-container {
    width: 100%;
    max-width: 566px;
    margin: 0;
    padding: 0;
    position: relative;
}

.form__control--text {
    width: 100%;
    max-width: 566px;
    height: 32px;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid var(--basic-black-15);
    border-radius: 4px;
}

.form__control--text-email::placeholder {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 0 10px;
    font-size: 16px;
    color: var(--placeholder-color);
}

.form__control--text-email::-moz-placeholder {
    opacity: 1;
}

.form__comment {
    position: absolute;
    left: 0;
    top: 37px;
    color: var(--placeholder-color);
    font-size: 14px;
}

.form__control--checkbox {
    appearance: none;
    position: relative;
    margin: 0 10px 0 0;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid var(--basic-black-15);
    border-radius: 4px;
}

.form__label--checkbox:nth-child(2) {
    margin-bottom: 27px;
}

.form__control--checkbox::after {
    display: none;
    content: '';
    position: absolute;
    width: 15px;
    height: 7px;
    border-top: 2px solid var(--style-color);
    border-right: 2px solid var(--style-color);
    transform: translate(15%, 50%) rotate(135deg);
}

.form__control--checkbox:checked::after {
    display: block;
}

.cat-photo {
    box-sizing: border-box;
    padding-top: 11px;
    width: 300px;
}

@media (max-width: 375px) {
    .cat-photo {
        width: 335px;
    }

    .cat-photo__item {
        width: 335px;
        margin-right: 0;
    }

    .cat-photo__image {
        width: 335px;
    }
}

.cat-photo__title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 28px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 20px;
}

.cat-photo__gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cat-photo__item {
    width: 300px;
    height: 100%;
}

.cat-photo__item:not(:last-child) {
    margin-bottom: 12px;
}
